*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}

.header{
width:100%;
background-color: gray;
}

.logo{
    width:5%;
}

.title{
display: inline;
vertical-align: 30%;
font-size: 3.5rem;
font-family:arial;
}